body{
  font-family: Arial;
  background: linear-gradient(to right,#ffd6e7,#ffeaf4);
  text-align:center;
  margin:0;
}

h1{
  background:#ff4da6;
  color:white;
  padding:12px;
  margin:0;
}

.card{
  background:white;
  padding:15px;
  margin:20px auto;
  width:320px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input{
  width:90%;
  padding:8px;
  margin:6px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  background:#ff4da6;
  color:white;
  border:none;
  padding:8px 12px;
  margin:6px;
  border-radius:8px;
  cursor:pointer;
}

img{
  width:100%;
  border-radius:10px;
}

.blur{
  filter:blur(14px);
}

.comment{
  background:#ffeaf4;
  padding:6px;
  margin:5px;
  border-radius:6px;
  font-size:14px;
}
